*,
::after,
::before {
  box-sizing: inherit;
}

/**
 * @prop --space-unit: Base spacing unit
 * @prop --space-md: Medium spacing
 * @prop --space-lg: Large spacing
 * @prop --component-padding: Padding between components
 * @prop --container-width: Width of container
 * @prop --color-timeline-separator: Color of timeline separator
 * @prop --color-timeline-bg: Color of timeline background
 */
wtf-timeline {
  --space-unit: 1em;
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --component-padding: var(--space-md);
  --container-width: 80rem;
  --color-timeline-separator: rgb(216, 229, 238);
  --color-timeline-bg: rgb(234, 241, 246);
  display: flex;
  overflow: hidden;
  padding: var(--space-lg) 0;
  background-color: var(--color-timeline-bg);
  box-sizing: border-box;
}

@media (min-width: 64rem) {
  wtf-timeline {
    --space-unit: 1.25em;
  }
}

.container {
  width: calc(100% - 2 * var(--component-padding));
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  position: relative;
  padding: var(--space-md) 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: var(--color-timeline-separator);
}

@media (min-width: 64rem) {
  .container::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
